/* Portions of this code adapted from w3schools.com and provided examples. */

html {
    background: -webkit-linear-gradient(left top, rgba(0,255,255,0), rgba(0,255,255,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #rgba(0,255,255,0), rgba(0,255,255,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(0,255,255,0), rgba(0,255,255,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(0,255,255,0), rgba(0,255,255,1)); /* Standard syntax (must be last) */
    background-attachment: fixed;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
}

h1 {
	margin-top: 5%;
	margin-left: 7.5%;
	margin-bottom: 5%;
	color: #000;
}

.top-p {
	text-align: left;
	margin-top: 2.5%;
	margin-left: 15%;
	margin-right: 25%;
	line-height: 1.5em;
	font-size: large;
	color: #000;
}

.bot-p {
	text-align: right;
	margin-top: 15%;
	margin-bottom: 5%;
	margin-right: 15%;
	line-height: 2em;
	font-size: large;
	color: #000;
}
